<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="breadcrumbs(breadcrumbs)">
<ol itemscope itemtype="http://schema.org/BreadcrumbList">
    <th:block th:each="breadcrumb, stat : ${breadcrumbs.list()}" >
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" title="{name}へ移動する" th:href="${breadcrumb.path()}" th:title="${breadcrumb.title()}" itemprop="item">
                <span itemprop="name" th:text="${breadcrumb.text()}">{text}</span>
            </a>
            <meta itemprop="position" th:content="${stat.count}" />
        </li>
    </th:block>
</ol>
</th:block>

</html>
